<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/menuepleado.css">
    <title>Menu formularios</title>
</head>
<body>
    <h1 style="text-align: center;">Bienvenido al sistema</h1>
    <div class="container">
        <nav class="navegar">
            <ul>
                <li><a href="consulta"> Usuarios</a></li>
                <li><a href="consultacli">Clientes</a></li>
                <li><a href="consultacre">Creditos</a></li>
                <li><a href="consultalin">lineas</a></li>
            </ul>
        </nav>
    </div>
    
</body>
</html>